<div class="row sticky-top" style="top: 80px">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body px-4 pt-4 pb-3">
                <div class="row">
                    <div class="col">
                        {% if site.data.profile.portrait_url %}
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure d-none d-md-block">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        <div class="mb-3 d-md-none text-center">
                            <img src="{{ site.data.profile.portrait_url | relative_url }}" class="rounded-circle" style="max-width: 50%;" alt="Portrait">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center h4">
                        {{ site.data.profile.primary_name }}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        {% for position in site.data.profile.positions %}
                        {{ position.name }}<br/>
                        {% endfor %}
                    </div>
                </div>

                {% if site.data.profile.location %}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <span class="d-flex align-items-start">
                            <span class="mr-2 text-center" style="width: 1.25em; flex: 0 0 1.25em;">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span>{{ site.data.profile.location }}</span>
                        </span>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.email %}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <a class="email-text d-flex align-items-start" href="mailto:{{ site.data.profile.email | encode_email }}">
                            <span class="mr-2 text-center mt-1" style="width: 1.25em; flex: 0 0 1.25em;">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span style="min-width: 0; overflow-wrap: anywhere;">{{ site.data.profile.email | replace: "@", "(at)" }}</span>
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.github %}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <a class="d-flex align-items-start" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                            <span class="mr-2 text-center" style="width: 1.25em; flex: 0 0 1.25em;">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.gscholar %}
                {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                {%- assign gscholar_url = site.data.profile.gscholar -%}
                {%- else -%}
                {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                {%- endif -%}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <a class="no-break" target="_blank" href="{{ gscholar_url }}">
                            <i class="fab fa-google-scholar"></i> Google Scholar
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.linkedin %}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <a class="no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.twitter %}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <a class="no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.orcid %}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <a class="no-break" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
                            <i class="fab fa-orcid"></i> ORCID
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if site.data.profile.wechat_qrcode %}
                <div class="row small mt-2">
                    <div class="col-10 mx-auto text-left">
                        <a class="no-break" data-toggle="modal" data-target="#modal-wechat">
                            <i class="fab fa-weixin"></i> WeChat
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
