<div class="p-4 {% unless include.hide_bottom_border %}border-bottom{% endunless %}">
    <h5 class="mt-0 mb-1 font-weight-normal">{{ include.item.title }}</h5>

    {% if include.item.role %}
    <p class="mt-0 mb-1 small text-muted">{{ include.item.role }}</p>
    {% endif %}

    {% if include.item.summary %}
    <p class="mt-0 mb-0 small text-muted">{{ include.item.summary }}</p>
    {% endif %}

    {% if include.item.tags and include.item.tags.size > 0 %}
    <div class="mt-2">
        {% for tag in include.item.tags %}
        <span class="badge badge-secondary">{{ tag }}</span>
        {% endfor %}
    </div>
    {% endif %}

    {% if include.item.links %}
    <p class="small pb-0 mb-0 mt-2">
        {% for link in include.item.links %}
        <a class="pr-2" target="_blank" rel="noopener noreferrer" href="{{ link[1] }}">[{{ link[0] }}]</a>
        {% endfor %}
    </p>
    {% endif %}
</div>
